@import "tailwindcss";

@theme {
  --color-orange: #FF6B35;
  --color-pink: #FF006E;
  --color-green: #00D9A3;
  --color-blue: #4361EE;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #111827;
  /* gray-900 */
  color: white;
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
}
